# Kopiere diese Datei zu .env und passe die Werte an. NIEMALS ins Repo committen.
ROBOT_ID=AP
WORKER_ID=worker-ap-vm01
ORCHESTRATOR_URL=http://orchestrator.intern:8000
POLL_INTERVAL=5

# SAP-Verbindung (BAPI/RFC)
SAP_ASHOST=172.28.189.8
SAP_SYSNR=06
SAP_CLIENT=600
SAP_USER=RFC_COFACE
SAP_PASSWORD=Catensys.22
SAP_LANG=DE


# Direkt-DB-Zugang (Sybase ASE)
SAP_DB_DRIVER=Adaptive Server Enterprise
SAP_DB_HOST=172.28.189.8
SAP_DB_PORT=4901
SAP_DB_NAME=SEQ
SAP_DB_USER=readonly_dev
SAP_DB_PASSWORD=PowerDEVops24
SAP_DB_SCHEMA=SEQ.SAPSR3

# SAP GUI Scripting
#SAP_GUI_CONNECTION=PRD [public]
SAP_GUI_CONNECTION=SEQ Catensys Quality Assurance
